.btn {
  background-repeat: repeat-x;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) #b3b3b3;
  border-image: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset, 0 1px 2px rgba(0,0,0,0.05);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 4px 12px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  vertical-align: middle;
  background-image: linear-gradient(to bottom,#ffffff,#e6e6e6);
}
.btn:hover,
.btn:focus {
  text-decoration: none;
}
.btn-primary {
  background: #2c3e50;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  font-weight: 700;
  opacity: 1;
  outline: none;
  padding: 7px 15px;
  text-shadow: none;
  text-transform: none;
  font-family: 'Roboto', 'Arial', sans-serif;
  color:#fff;
}
.btn-primary a:visited {
  color:#fff;
}
.btn-primary:hover,
.btn-primary:focus {
  background: #354b60;
  color: #fff;
}
.btn-green {
  background: #2c3e50;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  float: right;
  font: 700 1.5rem/1.3 'Roboto', 'Arial', sans-serif;
  height: 34px;
  opacity: 1;
  outline: none;
  padding: 7px 15px;
  text-shadow: none;
  text-transform: none;
  background: #16a085;
}
.btn-green:hover,
.btn-green:focus {
  background: #354b60;
  color: #fff;
}
.btn-green:hover,
.btn-green:focus {
  background: #19b698;
}
.btn-red {
  background: #2c3e50;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  float: right;
  font: 700 1.5rem/1.3 'Roboto', 'Arial', sans-serif;
  height: 34px;
  opacity: 1;
  outline: none;
  padding: 7px 15px;
  text-shadow: none;
  text-transform: none;
  background: #e74c3c;
}
.btn-red:hover,
.btn-red:focus {
  background: #354b60;
  color: #fff;
}
.btn-red:hover,
.btn-red:focus {
  background: #ea6153;
}
.btn-blue {
  background: #2c3e50;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  float: right;
  font: 700 1.5rem/1.3 'Roboto', 'Arial', sans-serif;
  height: 34px;
  opacity: 1;
  outline: none;
  padding: 7px 15px;
  text-shadow: none;
  text-transform: none;
  background: #0086c9;
}
.btn-blue:hover,
.btn-blue:focus {
  background: #354b60;
  color: #fff;
}
.btn-blue:hover,
.btn-blue:focus {
  background: #0097E3;
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b',endColorstr='#ffbd362f',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25;
}

